workflows/airtable-staging-write.json
{
  "name": "MCP: Airtable Staging Write",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/staging-write",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "airtable-staging-write"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields before writing to Airtable\nconst input = $input.first().json.body;\nconst errors = [];\n\n// Required fields for staging record\nconst requiredFields = ['table', 'fields'];\nfor (const field of requiredFields) {\n  if (!input[field]) {\n    errors.push(`Missing required field: ${field}`);\n  }\n}\n\n// Validate table name is not empty\nif (input.table && typeof input.table !== 'string') {\n  errors.push('table must be a string');\n}\n\n// Validate fields is an object with at least one key\nif (input.fields && (typeof input.fields !== 'object' || Object.keys(input.fields).length === 0)) {\n  errors.push('fields must be a non-empty object');\n}\n\n// Strip null/empty values from fields\nlet cleanFields = {};\nif (input.fields && typeof input.fields === 'object') {\n  for (const [key, value] of Object.entries(input.fields)) {\n    if (value !== null && value !== undefined && value !== '') {\n      cleanFields[key] = value;\n    }\n  }\n}\n\nif (errors.length > 0) {\n  return [{\n    json: {\n      valid: false,\n      errors: errors\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    base_id: input.base_id || 'YOUR_AIRTABLE_BASE_ID',\n    table: input.table,\n    fields: cleanFields,\n    validated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000002",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000009",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $json.base_id }}/{{ encodeURIComponent($json.table) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.AIRTABLE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ fields: $json.fields }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000003",
      "name": "Write to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "airtable-error-check",
              "leftValue": "={{ $json.error !== undefined || $json.statusCode >= 400 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000010",
      "name": "Airtable Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Airtable API request failed: ' + ($json.error || $json.message || 'Unknown error'), status_code: $json.statusCode || null } }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000011",
      "name": "Respond API Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, record_id: $json.id, created_at: $json.createdTime, table: $('Validate Required Fields').first().json.table } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000004",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, errors: $json.errors } }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000005",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 440]
    },
    {
      "parameters": {
        "content": "## MCP: Airtable Staging Write\n\n**Purpose:** Replace LLM doing data writes to Airtable staging buffer.\n\n**Token savings:** ~4,000 tokens per call\n\n**Flow:** Webhook -> Validate -> IF valid -> Airtable API -> Error Check -> Respond with record ID\n\n**Expected payload:**\n```json\n{\n  \"table\": \"Intake Staging\",\n  \"base_id\": \"appXXXXXXXXXXXXXX\",\n  \"fields\": {\n    \"Name\": \"John Doe\",\n    \"Email\": \"john@example.com\",\n    \"Phone\": \"+14075551234\",\n    \"Case Type\": \"Personal Injury\",\n    \"Source\": \"OpenClaw Chat\"\n  }\n}\n```\n\n**Setup:**\n1. Set `AIRTABLE_API_KEY` env var (or better: use n8n HTTP credentials for production)\n2. Update base_id default if using single base\n3. Activate workflow\n\n**Note:** For production, replace the env var Authorization header with a proper n8n HTTP credential. Env vars are for quick testing only.",
        "height": 460,
        "width": 360
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -180]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Write to Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Airtable": {
      "main": [
        [
          {
            "node": "Airtable Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Error?": {
      "main": [
        [
          {
            "node": "Respond API Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "tags": [
    {
      "name": "mcp"
    },
    {
      "name": "token-saver"
    }
  ]
}
