workflows/sms-send-openphone.json
{
  "name": "MCP: SMS Send via OpenPhone",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp/sms-send",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "sms-send-openphone"
    },
    {
      "parameters": {
        "jsCode": "// TCPA Compliance Check\n// Business hours: Mon-Sat 8AM-7PM ET\n// Check for STOP/opt-out keywords in recent history\n\nconst input = $input.first().json.body;\nconst errors = [];\n\n// Validate required fields\nif (!input.to) errors.push('Missing required field: to');\nif (!input.message) errors.push('Missing required field: message');\nif (!input.from) errors.push('Missing required field: from');\n\nif (errors.length > 0) {\n  return [{ json: { tcpa_pass: false, reason: errors.join('; '), error_type: 'validation' } }];\n}\n\n// Normalize phone to E.164\nlet phone = input.to.replace(/[^\\d+]/g, '');\nif (!phone.startsWith('+')) phone = '+1' + phone;\nif (phone.length < 11) {\n  return [{ json: { tcpa_pass: false, reason: 'Invalid phone number format', error_type: 'validation' } }];\n}\n\n// Check business hours in ET (America/New_York)\nconst now = new Date();\nconst etOptions = { timeZone: 'America/New_York', hour: 'numeric', minute: 'numeric', weekday: 'long', hour12: false };\nconst etParts = new Intl.DateTimeFormat('en-US', etOptions).formatToParts(now);\n\nconst hour = parseInt(etParts.find(p => p.type === 'hour').value);\nconst minute = parseInt(etParts.find(p => p.type === 'minute').value);\nconst weekday = etParts.find(p => p.type === 'weekday').value;\n\nconst isSunday = weekday === 'Sunday';\nconst beforeHours = hour < 8;\nconst afterHours = hour >= 19;\n\nif (isSunday) {\n  return [{ json: { tcpa_pass: false, reason: 'TCPA: Cannot send SMS on Sundays', error_type: 'tcpa', current_time_et: `${weekday} ${hour}:${String(minute).padStart(2,'0')}` } }];\n}\n\nif (beforeHours || afterHours) {\n  return [{ json: { tcpa_pass: false, reason: `TCPA: Outside business hours (Mon-Sat 8AM-7PM ET). Current: ${hour}:${String(minute).padStart(2,'0')} ET`, error_type: 'tcpa', current_time_et: `${weekday} ${hour}:${String(minute).padStart(2,'0')}` } }];\n}\n\n// Check for STOP words in the opt-out list (if provided)\nconst stopWords = ['stop', 'unsubscribe', 'cancel', 'quit', 'opt out', 'optout'];\nconst optedOut = input.opted_out !== false; // Block unless explicitly confirmed opted-in\nif (optedOut) {\n  return [{ json: { tcpa_pass: false, reason: 'TCPA: Recipient has opted out of SMS communications or opt-in not confirmed', error_type: 'tcpa' } }];\n}\n\n// TCPA passed\nreturn [{\n  json: {\n    tcpa_pass: true,\n    to: phone,\n    from: input.from,\n    message: input.message,\n    checked_at: now.toISOString(),\n    timezone_check: `${weekday} ${hour}:${String(minute).padStart(2,'0')} ET`\n  }\n}];"
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000002",
      "name": "TCPA Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tcpa-check",
              "leftValue": "={{ $json.tcpa_pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000003",
      "name": "TCPA Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openphone.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$env.OPENPHONE_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $json.from }}"
            },
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "content",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000004",
      "name": "Send SMS via OpenPhone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sms-error-check",
              "leftValue": "={{ $json.error !== undefined || $json.statusCode >= 400 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000010",
      "name": "SMS Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'OpenPhone API request failed: ' + ($json.error || $json.message || 'Unknown error'), status_code: $json.statusCode || null } }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000011",
      "name": "Respond SMS Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message_id: $json.id || 'sent', to: $json.to, sent_at: new Date().toISOString() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000005",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1380, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $json.reason, error_type: $json.error_type, checked_at: new Date().toISOString() } }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000006",
      "name": "Respond TCPA Rejection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 440]
    },
    {
      "parameters": {
        "content": "## MCP: SMS Send via OpenPhone\n\n**Purpose:** Replace LLM composing & sending SMS. TCPA compliance built in.\n\n**Token savings:** ~3,000 tokens per call\n\n**TCPA Rules Enforced:**\n- Mon-Sat 8AM-7PM ET only\n- No Sunday sends\n- Opt-out / STOP word check (blocks unless opted_out is explicitly false)\n- Phone number validation (E.164)\n\n**Expected payload:**\n```json\n{\n  \"to\": \"+14075551234\",\n  \"from\": \"+14075550000\",\n  \"message\": \"Your consultation is confirmed for tomorrow at 2pm.\",\n  \"opted_out\": false\n}\n```\n\n**Setup:**\n1. Set `OPENPHONE_API_KEY` env var (or better: use n8n HTTP credentials for production)\n2. Activate workflow\n\n**Note:** For production, replace the env var Authorization header with a proper n8n HTTP credential. Env vars are for quick testing only.",
        "height": 480,
        "width": 360
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000007",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, -180]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "TCPA Compliance Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TCPA Compliance Check": {
      "main": [
        [
          {
            "node": "TCPA Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TCPA Pass?": {
      "main": [
        [
          {
            "node": "Send SMS via OpenPhone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond TCPA Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via OpenPhone": {
      "main": [
        [
          {
            "node": "SMS Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Error?": {
      "main": [
        [
          {
            "node": "Respond SMS Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "tags": [
    {
      "name": "mcp"
    },
    {
      "name": "token-saver"
    },
    {
      "name": "tcpa"
    }
  ]
}
